[Unit]
After=network.target
Description=The dumbest IRC bot evah
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/irc/mikobot/mikobot
Restart=on-failure
Type=simple
User=mikobot
Group=mikobot
DynamicUser=true
MountAPIVFS=true
ProtectProc=invisible
ProcSubset=pid
CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
PrivateIPC=true
PrivateUsers=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictNamespaces=true
LockPersonality=true
RestrictSUIDSGID=true
RemoveIPC=true
PrivateMounts=true
SystemCallFilter=@system-service
MemoryDenyWriteExecute=true
RestrictAddressFamilies=AF_INET AF_INET6
SystemCallArchitectures=native
RestrictRealtime=true

[Install]
WantedBy=default.target
